<p id="notice"><%= notice %></p>

<h1 class="pageTitle">学習タイプ（一覧）</h1>

<table class="table">
  <thead>
    <tr>
      <th>タイプ名</th>
      <th>備考</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @study_types.each do |study_type| %>
      <tr>
        <td><%= study_type.type_name %></td>
        <td><%= study_type.remark %></td>
        <td>
          <%= link_to '詳細', study_type, { class: "btn btn-primary" } %>
          <%= link_to '編集', edit_study_type_path(study_type), { class: "btn btn-success" } %>
          <%= link_to '削除', study_type, method: :delete, data: { confirm: '削除しても大丈夫ですか?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @study_types %>

<%= link_to '学習タイプ追加', new_study_type_path, { class: "btn btn-primary" } %>
