<p id="notice"><%= notice %></p>

<h1>参考書一覧</h1>

<div class="text-right">
  <%= form_tag study_books_path, method: :get, class: 'books_searchForm' do %>
    <%= select_tag :tag_id,
                    options_from_collection_for_select(Tag.where(deleted_at: nil), :id, :tag_name, params[:tag_id]),
                    {
                      prompt: 'タグで絞り込み',
                      class: 'form-control books_select',
                      onchange: 'submit(this.form);'
                    }
    %>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th width="300">書籍名</th>
      <th width="150">タグ</th>
      <th width="150">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @study_books.each do |study_book| %>
      <tr>
        <td><%= study_book.book_name %></td>
        <td>
          <% study_book.tags.each do |tag| %>
              <span class="badge badge-primary">
                  <%= tag.tag_name %>
              </span>
          <% end %>
        </td>
        <td>
          <%= link_to '詳細', study_book, { class: "btn btn-primary" } %>
          <%= link_to '編集', edit_study_book_path(study_book), { class: "btn btn-success" } %>
          <%= link_to '削除', study_book, method: :delete, data: { confirm: '削除しても大丈夫ですか?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @study_books %>

<br>

<%= link_to '参考書追加', new_study_book_path, { class: "btn btn-primary" } %>
