<% content_for :css do %>
  <%= stylesheet_link_tag 'sessions' %>
<% end %>

<div class="form-wrapper">
  <h1>ユーザー名変更</h1>

  <%= form_with(model: @user, local: true) do |form| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <ul class="list-unstyled">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- 更新対象のカラム -->
    <%= hidden_field_tag :target_column, 'user_name' %>

    <div class="form-item">
      <label for="現在のユーザー名">現在のユーザー名</label>
      <%= form.text_field :current_user_name, :value => @current_user.user_name, disabled: true %>
    </div>
    <div class="form-item">
      <label for="新しいユーザー名">新しいユーザー名</label>
      <%= form.text_field :user_name %>
    </div>
    <div class="button-panel">
      <%= form.submit("更新", class: 'button') %>
    </div>
  <% end %>
  <div class="form-footer">
    <p><%= link_to 'ホームへ', root_path %></p>
  </div>
</div>
