<!DOCTYPE html>
<html>
  <head>
    <title>BookMngApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= yield :css %>

  </head>

  <body>
    <% if signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%# <a class="navbar-brand" href="#">参考書管理アプリ</a> %>
        <label class="navbar-brand">参考書管理アプリ</label>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= 'active' if current_page?(study_books_path) %>">
              <%= link_to "書籍一覧", study_books_path, class: "nav-link" %>
            </li>
            <li class="nav-item <%= 'active' if current_page?(tags_path) %>">
              <%= link_to "タグ一覧", tags_path, class: "nav-link" %>
            </li>
            <li class="nav-item <%= 'active' if current_page?(study_types_path) %>">
              <%= link_to "タイプ一覧", study_types_path, class: "nav-link" %>
            </li>
          </ul>

        <ul class="navbar-nav">
          <li class="nav-item dropdown margin-right-15">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= @current_user.user_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'ユーザー名変更', "/users/#{@current_user.id}/edit_name", class: "dropdown-item" %>
              <%= link_to 'パスワード変更', "/users/#{@current_user.id}/edit_password", class: "dropdown-item" %>
              <%= link_to '現在のユーザー削除', @current_user, method: :delete, data: { confirm: '削除しても大丈夫ですか?' }, class: "dropdown-item"  %>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', logout_path, method: :delete, class: "btn btn-sm btn-outline-light" %>
          </li>
        </ul>
        </div>
    </nav>
    <% end %>
  
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
